[Unit]
Description=Avvio automatico acquisizione dati giroscopio/accelerometro
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/ippodromoScripts
ExecStart=/usr/bin/python3 /home/pi/ippodromoScripts/AccGirAcquisizione.py
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=accgir

[Install]
WantedBy=multi-user.target
